name: Release
on:
  workflow_dispatch:
  push:
    branches:
      - "*"
    tags:
      - "*"

permissions:
  contents: read # for checkout

jobs:
  release:
    name: Build & Release
    runs-on: ubuntu-latest

    concurrency: release-${{ github.ref }}
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install modules
        run: |
          bun install --frozen-lockfile

      - name: Lint
        run: bun run lint

      - name: Typecheck
        run: bun run typecheck

      - name: Test
        run: bun run test

      - name: Release
        if: github.ref == 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          bun run build
          bun run release
